<a href="https://colab.research.google.com/github/idanovadia/wikipedia_crawler/blob/master/wiki.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from urllib.request import urlopen
from urllib.error import HTTPError
from bs4 import BeautifulSoup
import re

Q1

In [0]:
url_q1 = "https://en.wikipedia.org/wiki/Julia_Roberts_filmography"

In [0]:
html_q1 = urlopen(url_q1)
bs_obj_q1 = BeautifulSoup(html_q1.read())
table = (bs_obj_q1.find_all('table'))[0]

In [0]:
import pandas as pd

In [0]:
df_table = pd.read_html(str(table))

In [0]:
df_table = pd.concat(df_table)
final_table = df_table.iloc[:,0:4]

In [0]:
final_table

                              Title  ...              Director(s)
0                         Firehouse  ...  J. Christian Ingvordsen
1                      Satisfaction  ...             Joan Freeman
2                      Mystic Pizza  ...            Donald Petrie
3                         Blood Red  ...          Peter Masterson
4                   Steel Magnolias  ...             Herbert Ross
5                      Pretty Woman  ...           Garry Marshall
6                        Flatliners  ...          Joel Schumacher
7           Sleeping with the Enemy  ...             Joseph Ruben
8                       Dying Young  ...          Joel Schumacher
9                              Hook  ...         Steven Spielberg
10                       The Player  ...            Robert Altman
11                The Pelican Brief  ...           Alan J. Pakula
12                   I Love Trouble  ...            Charles Shyer
13                    Prêt-à-Porter  ...            Robert Altman
14          Something to Talk About  ...          Lasse Hallström
15                      Mary Reilly  ...           Stephen Frears
16                  Michael Collins  ...              Neil Jordan
17         Everyone Says I Love You  ...              Woody Allen
18         My Best Friend's Wedding  ...               P.J. Hogan
19                Conspiracy Theory  ...           Richard Donner
20                          Stepmom  ...           Chris Columbus
21                     Notting Hill  ...            Roger Michell
22                    Runaway Bride  ...           Garry Marshall
23                  Erin Brockovich  ...        Steven Soderbergh
24                      The Mexican  ...           Gore Verbinski
25            America's Sweethearts  ...                 Joe Roth
26                   Ocean's Eleven  ...        Steven Soderbergh
27                   Grand Champion  ...               Barry Tubb
28                     Full Frontal  ...        Steven Soderbergh
29  Confessions of a Dangerous Mind  ...           George Clooney
30                  Mona Lisa Smile  ...              Mike Newell
31            Tell Them Who You Are  ...              Mark Wexler
32                           Closer  ...             Mike Nichols
33                   Ocean's Twelve  ...        Steven Soderbergh
34                    The Ant Bully  ...            John A. Davis
35                  Charlotte's Web  ...              Gary Winick
36             Charlie Wilson's War  ...             Mike Nichols
37          Fireflies in the Garden  ...               Dennis Lee
38  Kit Kittredge: An American Girl  ...          Patricia Rozema
39                        Duplicity  ...              Tony Gilroy
40                  Valentine's Day  ...           Garry Marshall
41                    Eat Pray Love  ...              Ryan Murphy
42               Jesus Henry Christ  ...               Dennis Lee
43          Love, Wedding, Marriage  ...          Dermot Mulroney
44                     Larry Crowne  ...                Tom Hanks
45                   Mirror, Mirror  ...             Tarsem Singh
46             August: Osage County  ...               John Wells
47             Secret in Their Eyes  ...                Billy Ray
48                     Mother's Day  ...           Garry Marshall
49                    Money Monster  ...             Jodie Foster
50         Smurfs: The Lost Village  ...             Kelly Asbury
51                           Wonder  ...          Stephen Chbosky
52                      Ben Is Back  ...             Peter Hedges

[53 rows x 4 columns]

Q2

Present a readable table with the following fields per co-actor\actress: name, year of
birth, country of birth and number of awards that he\she got.

In [0]:
class Actor:
  def __init__(self,title,link):
    self.link = link
    self.title = title
    self.count = 1
    self.yearOfBirth ="NaN"
    self.countryOfBirth ="NaN" 
    self.numberOfAwards = "0"

  def __setYearOfBirth__(self,year):
    self.yearOfBirth = year

  def __setCountryOfBirth__(self,country):
    self.countryOfBirth = country

  def __setNumberOfAwards__(self,awards):
    self.numberOfAwards = awards

  def __setCount__(self):
    self.count = self.count + 1

  def __repr__(self):
    return  self.title +"    " +self.link + "   " +str(self.count) + "    " +self.yearOfBirth + "   " + self.countryOfBirth +"    "+ self.numberOfAwards

  def __str__(self):
    return  self.title +"    " +self.link + "   " +str(self.count) + "    " +self.yearOfBirth + "   " + self.countryOfBirth +"    "+ self.numberOfAwards

  def to_dict(self) -> dict:
        return {
            "Name": self.title,
            "Year of Birth": self.yearOfBirth,
            "Country of Birth": self.countryOfBirth,
            "Awards": self.numberOfAwards,
        }

In [0]:
base_url = "https://en.wikipedia.org"
list_of_actors = {}

In [0]:
th_list = BeautifulSoup(str(table))
th_list = th_list.find_all('th')
th_list = BeautifulSoup(str(th_list))
th_list = th_list.find_all('a')

In [0]:
links_of_movies = re.findall(r'href="(.*?)" ', str(th_list))

In [0]:
links_of_movies = [base_url+x for x in links_of_movies]

In [0]:
for movie in links_of_movies:
    movie_resource = urlopen(movie)
    obj_q2 = BeautifulSoup(movie_resource)
    list_of_h2 = obj_q2.findAll('h2',)
    for index_h2 in list_of_h2:
      id_of_h2 = re.findall(r'id="(.*?)">', str(index_h2))
      if len(id_of_h2)>0 and id_of_h2[0]=='Cast':
        ul_of_actors = index_h2.findNext('ul')
        ul_of_actors = BeautifulSoup(str(ul_of_actors))
        actors_names = re.findall(r'title="(.*?)">', str(ul_of_actors))
        actors_urls = re.findall(r'href="(.*?)" ', str(ul_of_actors))
        actors_urls = [base_url+x for x in actors_urls]
        for index, (actors_name,actors_url) in enumerate(zip(actors_names,actors_urls)):
          if actors_name in list_of_actors:
            list_of_actors[actors_name].__setCount__()
          else:
            list_of_actors[actors_name] = (Actor(link=actors_url,title=actors_name))

In [0]:
if "Julia Roberts" in list_of_actors:
  del list_of_actors["Julia Roberts"]

1. getting the span that hold the birth
2. getting the div that hold the birth place

![alt text](https://drive.google.com/uc?id=1X1BYYGpPthaTeF4xTZ0RhjRYsCvZT887)

In [0]:
def getYeat(bs_obj_q2):
  year = bs_obj_q2.find_all('span',{"class": "bday"})
  if len(year) > 0:
    year = str(year[0].text).split('-')[0]
    return year
  else:
    return "NaN"

In [0]:
def getCountry(bs_obj_q2):
  country =  bs_obj_q2.find_all('div',{"class": "birthplace"})
  if len(country) > 0 :
    country = str(country[0].text)
    return country
  else:
    return "NaN"

1. get all the tables in the page of the actor
2. count the times that the word "Won" exist in the tables

![alt text](https://drive.google.com/uc?id=1hTjotXLGjhyA1V083OA_StFYGbd2JOTg)

In [0]:
def getAwards(bs_obj_q2):
  count = 0
  awards =  bs_obj_q2.find_all('table')
  for award in awards:
    award_BS = BeautifulSoup(str(award))
    count = count + str(award).count("Won")
  return str(count)

In [0]:
for actor_name, actor_obj in list_of_actors.items():
  try:
    link = actor_obj.link
    html_actor = urlopen(link)
    bs_obj_q2 = BeautifulSoup(html_actor.read())

    # add year to actor 
    list_of_actors[actor_name].__setYearOfBirth__(getYeat(bs_obj_q2))
    # add country to actor  
    list_of_actors[actor_name].__setCountryOfBirth__(getCountry(bs_obj_q2))
    list_of_actors[actor_name].__setNumberOfAwards__(getAwards(bs_obj_q2))
    
  except:
    print("")

Creating a Dict to save all the actors

In [0]:
author_dicts = [actor_obj.to_dict() for actor_name, actor_obj in list_of_actors.items()]

Create DF of Actors

In [0]:
# columns = ['Name', 'Year of birth', 'Country of birth', 'Awards']
df = pd.DataFrame(author_dicts)
df.head(40)

                                Name  ... Awards
0                      Annabeth Gish  ...      0
1                        Lili Taylor  ...      0
2                  Vincent D'Onofrio  ...      3
3                   William R. Moses  ...      0
4                        Adam Storke  ...      0
5                   Conchata Ferrell  ...      4
6                      Joanna Merlin  ...      5
7                      Louis Turenne  ...      0
8                       Janet Zarish  ...      0
9                          Ann Flood  ...      0
10                  Suzanne Shepherd  ...      0
11                        Matt Damon  ...      0
12                      Eric Roberts  ...      0
13                Giancarlo Giannini  ...      0
14                     Dennis Hopper  ...      7
15                        Burt Young  ...      0
16                     Susan Anspach  ...      0
17                      Carlin Glynn  ...      0
18                       Lara Harris  ...      0
19                 Joseph Runningfox  ...      0
20                         Al Ruscio  ...      3
21                    Michael Madsen  ...      0
22                      Elias Koteas  ...      3
23                     Marc Lawrence  ...      0
24                  Frank Campanella  ...      0
25                          Aldo Ray  ...      0
26                      Kevin Cooney  ...      0
27  List of films featuring diabetes  ...      3
28                    Lists of films  ...      0
29                      Richard Gere  ...      6
30                 Playboy lifestyle  ...      0
31                         Hollywood  ...      0
32                      Prostitution  ...      0
33                     Ralph Bellamy  ...      0
34                   Jason Alexander  ...      0
35                   Héctor Elizondo  ...      0
36                 Laura San Giacomo  ...      0
37                    Greek American  ...      0
38                   Alex Hyde-White  ...      0
39                       Amy Yasbeck  ...      0

[40 rows x 4 columns]